<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BookReservation</display-name>
  
  <servlet>
  	<servlet-name>VerifyUser</servlet-name>
  	<servlet-class>com.bookreservation.AuthServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>VerifyUser</servlet-name>
  	<url-pattern>/verifyuser</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ReservBook</servlet-name>
  	<servlet-class>com.bookreservation.ResServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ReservBook</servlet-name>
  	<url-pattern>/bookreserv</url-pattern>
  </servlet-mapping>
  
</web-app>